<!-- Lets Talk -->
<section class="lets-talk">
    <div class="background bg-img bg-fixed section-padding" data-overlay-dark="5" data-background="img/slider/1.webp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Contact Us</div>
                    <div class="section-title">Let’s talk.
                        <br>Have a project in mind?
                    </div>
                    <div class="wrap">
                        <div class="social">
                            <a href="#" class="icon"> <i class="fa-brands fa-instagram"></i> </a>
                            <a href="#" class="icon"> <i class="fa-brands fa-whatsapp"></i> </a>
                        </div>
                        <div class="dv"></div> <a href="mailto:{{email}}">{{email}}</a>
                        <div class="dv"></div> <a href="tel:{{phone}}">{{phone}}</a>
                        <div class="dv"></div> <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" href="#0">Contact<i class="icon-right fa-light fa-arrow-up-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer bg">
    <div class="container">
        <!-- top -->
        <div class="top">
            <div class="row">
                <div class="col-md-4 mb-30">
                    <div class="item">
                      
                        <div class="logo"><img src="img/logo.png" alt=""></div>
                        <p>Archex architecture miss in the sapien sertiton miss bibenum the erat nesuen fermen.</p>
                        <div class="social-icons">
                            <ul class="list-inline">
                                <li><a href="{{instagram}}"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="{{youtube}}"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1 mb-30">
                    <div class="item">
                        <h3>Quick Links</h3>
                        <div class="links">
                            <ul>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="item">
                        <h3>Subscribe</h3>
                        <p>Want to be notified about our services. Just sign up and we'll send you a notification by email.</p>
                        <div class="newsletter">
                            <form action="#">
                                <input type="email" placeholder="Email Address" required="">
                                <button type="submit"><i class="ti-arrow-top-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottom">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0">Copyright © 2025 by ASL Studio, Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Popup Contact Form -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-box">
                  <app-client-contact></app-client-contact>
                </div>
            </div>
        </div>
    </div>
</div>