<!-- Header Banner -->
<section class="banner-header section-padding bg-img" data-overlay-dark="5" data-background="img/slider/1.jpg">
    <div class="v-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-30">
                    <h6>Who are we?</h6>
                    <h1>Archex <span>Architecture</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="content">
                    <div class="section-subtitle">About Us</div>
                    <div class="section-title"><span>Archex.</span> Architecture</div>
                    <p>Architecture quisque sodales intioni varius estibulum rana tonton miss ortiton telus euismod nis the massa odio miss farmen lorem etium thesit ametis fermen.</p>
                    <ul class="list-unstyled list">
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>Custom Modern Design</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>24 Years of Experience</p>
                            </div>
                        </li>
                    </ul> <a href="Services" class="button-4">Services <span class="ti-arrow-top-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 mt-30">
                <div class="item"> <img src="img/about.jpg" class="img-fluid" alt="">
                    <div class="bottom-fade"></div>
                    <div class="icon"> <a href="https://www.youtube.com/watch?v=Tqoe_nDx3ps" class="vid arrow"><span class="ti-control-play"></span></a> </div>
                    <div class="title">
                        <h4>Watch Video</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About More -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-30">
                <div class="img2"> <img src="img/about2.jpg" alt="">
                    <div class="text">
                        <h6>Office</h6>
                        <div class="shap-left-bottom">
                            <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                            </svg>
                        </div>
                        <div class="shap-right-bottom">
                            <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-12">
                <div class="content">
                    <div class="section-subtitle">Services</div>
                    <div class="section-title">We Build Your Dream Building</div>
                    <p>We are creative modern Architects specialising in one-off houses and luxury developments.</p>
                    <ul class="list-unstyled list mb-30">
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>Highly Experienced</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>Full Project Delivery</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>Best Interior Choice</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video -->
<section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="img/slider/1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-subtitle">Explore</div>
                <div class="section-title white">Promo Video</div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <a class="vid" href="https://www.youtube.com/watch?v=Tqoe_nDx3ps">
                    <div class="vid-butn"> <span class="icon"> <i class="ti-control-play"></i> </span> </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
<section class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-30">
                <div class="section-subtitle">Seniors</div>
                <div class="section-title"><span>Team</span> Members</div>
                <p>Architecture quisque sodales miss in the varius vestibulum drana tonton turpis porttiton tellus formention drana in the fermen.</p> <a href="team.html" class="button-4">All Team <span class="ti-arrow-top-right"></span></a>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="team-container">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="wrapper"> <img src="img/team/1.jpg" class="img-fluid" alt="">
                                <div class="icon"> <a href="team-single.html" class="arrow"><span class="ti-info"></span></a> </div>
                                <div class="text">
                                    <h4 class="name">Grace Martin</h4>
                                    <h6 class="position">Architect</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper"> <img src="img/team/2.jpg" class="img-fluid" alt="">
                                <div class="icon"> <a href="team-single.html" class="arrow"><span class="ti-info"></span></a> </div>
                                <div class="text">
                                    <h4 class="name">Liam Brown</h4>
                                    <h6 class="position">Designer</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper"> <img src="img/team/3.jpg" class="img-fluid" alt="">
                                <div class="icon"> <a href="team-single.html" class="arrow"><span class="ti-info"></span></a> </div>
                                <div class="text">
                                    <h4 class="name">Anna Sarah</h4>
                                    <h6 class="position">Architect</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper"> <img src="img/team/4.jpg" class="img-fluid" alt="">
                                <div class="icon"> <a href="team-single.html" class="arrow"><span class="ti-info"></span></a> </div>
                                <div class="text">
                                    <h4 class="name">Lucas White</h4>
                                    <h6 class="position">Architect</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper"> <img src="img/team/5.jpg" class="img-fluid" alt="">
                                <div class="icon"> <a href="team-single.html" class="arrow"><span class="ti-info"></span></a> </div>
                                <div class="text">
                                    <h4 class="name">Henry Mccury</h4>
                                    <h6 class="position">Designer</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="wrapper"> <img src="img/team/6.jpg" class="img-fluid" alt="">
                                <div class="icon"> <a href="team-single.html" class="arrow"><span class="ti-info"></span></a> </div>
                                <div class="text">
                                    <h4 class="name">Tyler Cooper</h4>
                                    <h6 class="position">Architect</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Testimonials</div>
                <div class="section-title">What <span>Clients</span> Say</div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/a.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Grace Martin</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/b.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Liam Brown</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/c.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Lucas White</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/d.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Anna Sarah</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/e.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Henry Mccury</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/f.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Tyler Cooper</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
