<section class="banner-header section-padding bg-img bg-position-top" data-overlay-dark="3" data-background="img/slider/1.webp">
    <div class="v-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-30">
                    <h6>Projects</h6>
                    <h1>Our Portfolio</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio -->
<section class="portfolio section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-60 classical">
                <div class="item">
                    <div class="img"> <img src="img/mix/1.jpg" alt=""> </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>Modern Art Museum</h4>
                            <h6><span class="ti-location-pin"></span> Florida</h6>
                        </div>
                        <div class="icon">
                            <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="item">
                    <div class="img"> <img src="img/mix/2.jpg" alt=""> </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>Dark Brown Towel</h4>
                            <h6><span class="ti-location-pin"></span> Victoria</h6>
                        </div>
                        <div class="icon">
                            <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="item">
                    <div class="img"> <img src="img/mix/7.jpg" alt=""> </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>Private Modern Villa</h4>
                            <h6><span class="ti-location-pin"></span> New York</h6>
                        </div>
                        <div class="icon">
                            <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="item">
                    <div class="img"> <img src="img/mix/5.jpg" alt=""> </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>Soft Modern Home</h4>
                            <h6><span class="ti-location-pin"></span> Washington</h6>
                        </div>
                        <div class="icon">
                            <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="item">
                    <div class="img"> <img src="img/mix/6.jpg" alt=""> </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>Dark Glass Office</h4>
                            <h6><span class="ti-location-pin"></span> New Jersey</h6>
                        </div>
                        <div class="icon">
                            <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-60">
                <div class="item">
                    <div class="img"> <img src="img/mix/3.jpg" alt=""> </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>Villa Space Design</h4>
                            <h6><span class="ti-location-pin"></span> California</h6>
                        </div>
                        <div class="icon">
                            <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination-wrap">
                    <li><a href="blog.html#"><i class="ti-angle-left"></i></a></li>
                    <li><a href="blog.html#">1</a></li>
                    <li><a href="blog.html#" class="active">2</a></li>
                    <li><a href="blog.html#">3</a></li>
                    <li><a href="blog.html#"><i class="ti-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
