<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="index.html">
                <img src="img/logo.png" class="logo-img" alt="">
            </a>
        </div>

        <!-- Toggle Button for Offcanvas (Visible only on small screens) -->
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas"
            aria-controls="navbarOffcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa-solid fa-bars"></i>
            </span>
        </button>

        <!-- Desktop Navbar (Hidden on small screens) -->
        <div class="collapse navbar-collapse d-none d-lg-flex" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link about-link" href="Home">Home</a></li>
                <li class="nav-item"><a class="nav-link about-link" href="About">About</a></li>
                <li class="nav-item"><a class="nav-link about-link" href="Services">Services</a></li>
                <li class="nav-item"><a class="nav-link about-link" href="Projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="Contact">Contact</a></li>
            </ul>
        </div>

        <!-- Fullscreen Offcanvas for Mobile -->
        <div class="offcanvas offcanvas-end fullscreen-offcanvas d-lg-none" tabindex="-1" id="navbarOffcanvas"
            aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header justify-content-between align-items-center">
                <div class="logo-wrapper">
                    <a class="logo" href="index.html">
                        <img src="img/logo.png" class="logo-img" alt="">
                    </a>
                </div>
                <button type="button" class="btn p-0 text-white navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
                    <span class="navbar-toggler-icon">
                        <i class="fa-solid fa-xmark"></i>
                    </span>
                    
                </button>
            </div>

            <div class="offcanvas-body d-flex justify-content-center align-items-center">
                <ul class="navbar-nav text-center">
                    <li class="nav-item"><a class="nav-link about-link" href="Home">Home</a></li>
                    <li class="nav-item"><a class="nav-link about-link" href="About">About</a></li>
                    <li class="nav-item"><a class="nav-link about-link" href="Services">Services</a></li>
                    <li class="nav-item"><a class="nav-link about-link" href="Projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link about-link" href="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
