    <!-- Header Inner Slider -->
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9.  -->
            <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/services/1.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/services/2.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/services/3.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="5" data-background="img/services/4.jpg"></div>
        </div>
    </header> 


<!-- Kenburns SlideShow -->
<!-- <aside class="kenburns-section" id="kenburnsSliderContainer" data-overlay-dark="5">
    <div class="kenburns-inner h-100"></div>
</aside> -->
<!-- Portfolio Details -->
<section class="portfolio-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row mb-30">
                    <div class="col-md-12">
                        <div class="section-subtitle">Portfolio</div>
                        <div class="section-title">Modern Home Design</div>
                        <p class="mb-30">Lorem pretium fermentum quam the miss sit amet cursus ante sollicitudin velen morbi consesua the miss sustion consation miss orcisition amet iaculis nisan. Lorem pretium fermentum quam sit amet cursus ante soline eletudin elenfermen orbinetion consesua the risus consequation the porttiton.</p>
                        <ul class="list-unstyled list mb-30">
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>Over 15 years of experience</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>Exceptional work quality</p>
                                </div>
                            </li>
                            <li>
                                <div class="list-icon"> <span class="ti-check"></span> </div>
                                <div class="list-text">
                                    <p>300+ successfully executed projects</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  Gallery Image -->
                <div class="row gallery-items">
                    <div class="col-lg-6 col-md-12 mb-20 gallery-masonry-wrapper single-item">
                        <a href="img/services/s1.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="img/services/s1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-masonry-item-img"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-20 gallery-masonry-wrapper single-item">
                        <a href="img/services/s2.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="img/services/s2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-masonry-item-img"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 mb-20 gallery-masonry-wrapper single-item">
                        <a href="img/services/1.jpg" title="" class="gallery-masonry-item-img-link img-zoom">
                            <div class="gallery-box">
                                <div class="gallery-img"> <img src="img/services/1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                                <div class="gallery-masonry-item-img"></div>
                            </div>
                        </a>
                    </div> 
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-car">
                    <div class="title">
                        <h4>Project Details</h4>
                    </div>
                    <div class="item">
                        <div class="features"><span><i class="ti-user"></i> Client</span>
                            <p>Private</p>
                        </div>
                        <div class="features"><span><i class="ti-calendar"></i> Project Year</span>
                            <p>2020-2024</p>
                        </div>
                        <div class="features"><span><i class="ti-world"></i> Company</span>
                            <p>IBM Inter</p>
                        </div>
                        <div class="features"><span><i class="ti-folder"></i> Project Name</span>
                            <p>Modern House</p>
                        </div>
                        <div class="features"><span><i class="ti-location-pin"></i> Location</span>
                            <p>New York</p>
                        </div>
                        <div class="text-center">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" href="#0" class="button-1 mt-30">Contact Us <span class="ti-arrow-top-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>