<section class="testimonials section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Testimonials</div>
                <div class="section-title">What <span>Clients</span> Say</div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/a.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Grace Martin</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/b.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Liam Brown</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/c.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Lucas White</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/d.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Anna Sarah</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/e.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Henry Mccury</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                    <div class="item"> <i class="fa-solid fa-quote-left"></i>
                        <div class="text">
                            <p>Lorem posuere in miss drana enna the nisan drana sceriun miss etiam ornare in the miss  fermen.</p>
                        </div>
                        <div class="info mt-30">
                            <div class="img-curv">
                                <div class="img"> <img src="img/team/f.jpg" alt=""> </div>
                                <div class="shap-left-top">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                                <div class="shap-right-bottom">
                                    <svg viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11">
                                        <path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="#101010"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-30">
                                <h6>Tyler Cooper</h6>
                                <p>Customer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>