<!-- Parallax Image -->
<section class="parallax-header section-padding valign bg-img bg-fixed" data-overlay-dark="5" data-background="img/slider/2.webp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-30">
                <h6>Discover Archex</h6>
                <h1>Creative Unique Design</h1>
                <p>Architecture viverra tristiquen justo duis vitaen damin neque nivam aestan the miss fermen.</p> <a href="#" class="button-1">Explore More <span class="ti-arrow-top-right"></span></a>
             </div>
        </div>
    </div>
</section>
<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="content">
                    <div class="section-subtitle">About Us</div>
                    <div class="section-title"><span>Archex.</span> Architecture</div>
                    <p>Architecture quisque sodales intioni varius estibulum rana tonton miss ortiton telus euismod nis the massa odio miss farmen lorem etium thesit ametis fermen.</p>
                    <ul class="list-unstyled list">
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>Custom Modern Design</p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"> <span class="ti-check"></span> </div>
                            <div class="list-text">
                                <p>24 Years of Experience</p>
                            </div>
                        </li>
                    </ul> <a href="About" class="button-4">Read More <span class="ti-arrow-top-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-12 mt-30">
                <div class="item"> <img src="img/about.webp" class="assets/img-fluid" alt="" loading="lazy">
                    <div class="bottom-fade"></div>
                    <div class="icon"> <a href="https://www.youtube.com/watch?v=Tqoe_nDx3ps" class="vid arrow"><span class="ti-control-play"></span></a> </div>
                    <div class="title">
                        <h4>Watch Video</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="portfolio-home section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Projects</div>
                <div class="section-title white">Our Works</div>
            </div>
        </div>
        <div class="portfolio-home-carousel owl-theme owl-carousel">
            <div class="item">
                <div class="img"> <img src="img/slider/5.webp" alt="" loading="lazy"> </div>
                <div class="con opacity-1">
                    <div class="title">
                        <h3>Interior Space Design</h3>
                        <h6><span class="ti-location-pin"></span> Florida</h6>
                    </div>
                    <div class="icon">
                        <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="img/slider/1.webp" alt="" loading="lazy"> </div>
                <div class="con opacity-1">
                    <div class="title">
                        <h3>Modular Kitchen Design</h3>
                        <h6><span class="ti-location-pin"></span> Victoria</h6>
                    </div>
                    <div class="icon">
                        <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="img/slider/5.webp" alt="" loading="lazy"> </div>
                <div class="con opacity-1">
                    <div class="title">
                        <h3>Simple Bedroom Design</h3>
                        <h6><span class="ti-location-pin"></span> New York</h6>
                    </div>
                    <div class="icon">
                        <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="img"> <img src="img/slider/1.webp" alt="" loading="lazy"> </div>
                <div class="con opacity-1">
                    <div class="title">
                        <h3>Modern Home Design</h3>
                        <h6><span class="ti-location-pin"></span> Washington</h6>
                    </div>
                    <div class="icon">
                        <a href="ProjectDetails" class="arrow"> <i class="ti-arrow-top-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services -->
<section class="services section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">Best Features</div>
                <div class="section-title">Our Services</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="text">
                            <h5>Architecture</h5>
                            <p>Lorem ipsum dolor miss onso altin amen the in constran adipiscing entesue in the rana duru miss fermen.</p>
                        </div>
                        <div class="icon">
                            <a href="service-details.html" class="arrow">
                                <div class="icon-w"> <i class="flaticon-houses icon-show"></i> <i class="ti-arrow-top-right icon-hidden"></i> </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <h5>Interior Design</h5>
                            <p>Lorem ipsum dolor miss onso altin amen the in constran adipiscing entesue in the rana duru miss fermen.</p>
                        </div>
                        <div class="icon">
                            <a href="service-details.html" class="arrow">
                                <div class="icon-w"> <i class="flaticon-living-room icon-show"></i> <i class="ti-arrow-top-right icon-hidden"></i> </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <h5>3D Modelling</h5>
                            <p>Lorem ipsum dolor miss onso altin amen the in constran adipiscing entesue in the rana duru miss fermen.</p>
                        </div>
                        <div class="icon">
                            <a href="service-details.html" class="arrow">
                                <div class="icon-w"> <i class="flaticon-interior-design icon-show"></i> <i class="ti-arrow-top-right icon-hidden"></i> </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <h5>Urban Design</h5>
                            <p>Lorem ipsum dolor miss onso altin amen the in constran adipiscing entesue in the rana duru miss fermen.</p>
                        </div>
                        <div class="icon">
                            <a href="service-details.html" class="arrow">
                                <div class="icon-w"> <i class="flaticon-medieval-house icon-show"></i> <i class="ti-arrow-top-right icon-hidden"></i> </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <h5>Planing</h5>
                            <p>Lorem ipsum dolor miss onso altin amen the in constran adipiscing entesue in the rana duru miss fermen.</p>
                        </div>
                        <div class="icon">
                            <a href="service-details.html" class="arrow">
                                <div class="icon-w"> <i class="flaticon-blueprint icon-show"></i> <i class="ti-arrow-top-right icon-hidden"></i> </div>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <h5>Decor Plan</h5>
                            <p>Lorem ipsum dolor miss onso altin amen the in constran adipiscing entesue in the rana duru miss fermen.</p>
                        </div>
                        <div class="icon">
                            <a href="service-details.html" class="arrow">
                                <div class="icon-w"> <i class="flaticon-sketch icon-show"></i> <i class="ti-arrow-top-right icon-hidden"></i> </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video -->
<section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="img/slider/1.webp">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-subtitle">Explore</div>
                <div class="section-title white">Promo Video</div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <a class="vid" href="https://www.youtube.com/watch?v=Tqoe_nDx3ps">
                    <div class="vid-butn"> <span class="icon"> <i class="ti-control-play"></i> </span> </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<app-testimonials></app-testimonials>


